@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Lato", sans-serif;
  color: white;
  font-optical-sizing: auto;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-image: url("bg-hero.png");
  background-size: 590px auto;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  main {
    background-size: 130vw auto;
    background-position: center;
  }
}
